@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .site-container {
    @apply max-w-2xl mx-auto px-4 
  }
  .site-4xl-container{
    @apply max-w-4xl mx-auto 
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
